
<div class="content-card">
    <h4>
        {{ CricketerName?.id }}: {{ CricketerName?.creator }}
    </h4>

    <img  *ngIf="CricketerName?.imgURL; else defaultImgURL" [src]='CricketerName? CricketerName.imgURL: ""' (click)="display_CricketerName()" alt="/" >
    <ng-template #defaultImgURL>
        <img [src]="defaultImg" (click)="display_CricketerName()" />
    </ng-template>
    <p>{{ CricketerName?.description}}</p>
    <h4 *ngIf="CricketerName?.type" appHoverAffect [Hover-Affect]="'underline'">
        Type of play: {{ CricketerName?.type}}
    </h4>
    <h4 *ngIf="CricketerName?.tags" appHoverAffect [Hover-Affect]="'bold'">
        Known as: {{ CricketerName?.tags}}
    </h4>
</div>
<!-- *ngFor="let tag of CricketerName?.tags" appHoverAffect [Hover-Affect]="'bold'" -->