
<div class="content-card" [ngClass]="{'first-card': 'first'}">
    <!-- <h2>
        My Favourite Cricketer
    </h2> -->
    <h4>
        {{ CricketerName?.id }}: {{ CricketerName?.creator }}
    </h4>

    <img  *ngIf="CricketerName" [src]='CricketerName? CricketerName.imgURL: ""' (click)="display_CricketerName()" alt="/" >
    <p>{{ CricketerName?.description}}</p>
    <h4>
        Type of play: {{ CricketerName?.type}}
    </h4>
    <h4>
        Known as: {{ CricketerName?.tags}}
    </h4>
</div>